a{
    text-decoration: none; margin-left: 20px;
}
*{
    margin: 0;
    padding: 0;
    
}


.navbar-nav > li{
        padding-left:5px;
        padding-right:10px;
      }

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar-brand img{
    height: 40px;
}


#navbarNav{
    padding-right: 10vh;
    
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: rgb(3, 2, 1) !important;
    font-size: 20px;
    font-weight: 350;
    
}

.navbar-nav a:hover{
background-color:  #2378e7;
}
#navbar{
    background-color: none;
}

